@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");
body {
    color: grey;
    font-size: 16px;
}
h1 {
    font-size: 2.2rem;

}
h2 {
    font-size: 2rem;
    
}

.container-fluid {
    max-width: 1200px;
}

a {
    text-decoration: none !important;

    :hover,
    :active,
    :visited {
        text-decoration: none !important;
    }
}
.text-end a{
    float: right;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
    .sep {
    padding: 0 5px;
}
}

.product {
    border: 1px solid lightgray;
    height: 300px;
    margin-bottom: 1rem;
    text-align: center;
    position: relative;

    .image {
        overflow: hidden;
        height: 100%;
        margin-bottom: 1rem;
        padding: 1rem;

        img {
            max-height: 80%;
            max-width: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .info {
        background-color: blue;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 1rem;
        min-height: 100%;
        color: #fff !important;
        opacity: 0;
        transition: all .25s ease;
        width: 100%;

        .title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    :hover > .info {
        opacity: 1;
    }
}